* {
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* Header */
header {
    background-color: #250909;
    height: 80px;
    width: 100%;
}
h1 {
    color: white;
    position: absolute;
    left: 4vw;
    top: 0;
    line-height: 80px;
}
header li {
    display: inline;
    margin-right: 2vw;
}
header ul {
    position: absolute;
    right: 2vw;
    top: 0;
    line-height: 80px;
    font-size:larger;
}
header a {
    color: white;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}
/* Content */
h2 {
    text-align: left;
    margin-top: 4vw;
    margin-left: 4vw;
}
p {
    font-size: large;
    text-align: left;
    margin-top: 2vw;
    margin-left: 4vw;
    margin-right: 40vw;
}
.container a {
    color: rgb(8, 148, 173);
    text-decoration: none;
}
.container a:hover {
    text-decoration: underline;
}

/* For narrow screen */

/* @media screen and (max-width: 800px) {
    h1 {
        text-align: center;
    }
    header ul {
        display: block;
        text-align: center;
        line-height: 1.5;
    } 
} */